name: Build WasmEdge on Nix

on:
  push:
    branches:
      - master
    paths:
      - "flake.nix"
      - "flake.lock"
      - ".github/workflows/build_for_nix.yml"
      - "include/**"
      - "lib/**"
      - "thirdparty/**"
      - "tools/**"
      - "CMakeLists.txt"
      - "cmake/**"
  pull_request:
    branches:
      - master
      - "proposal/**"
    paths:
      - "flake.nix"
      - "flake.lock"
      - ".github/workflows/build_for_nix.yml"
      - "include/**"
      - "lib/**"
      - "thirdparty/**"
      - "tools/**"
      - "CMakeLists.txt"
      - "cmake/**"

jobs:
  build_nix:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-24.05
    - run: nix build
    - run: nix flake check
