name: IWYU checker

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/IWYU_scan.yml"
      - "include/**"
      - "lib/**"
      - "plugins/**"
      - "test/**"
      - "thirdparty/**"
      - "tools/**"
      - "CMakeLists.txt"
  pull_request:
    branches:
      - master
      - 'proposal/**'
    paths:
      - ".github/workflows/IWYU_scan.yml"
      - "include/**"
      - "lib/**"
      - "plugins/**"
      - "test/**"
      - "thirdparty/**"
      - "tools/**"
      - "CMakeLists.txt"

permissions:
  contents: read

jobs:
  get_version:
    permissions:
      contents: read
    name: Retrieve version information
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.prep.outputs.version }}
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
    - name: Ensure git safe directory
      run: |
        git config --global --add safe.directory $(pwd)
    - name: Get version
      id: prep
      run: |
        # Retrieve annotated tags. Details: https://github.com/actions/checkout/issues/290
        git fetch --tags --force
        git config --global --add safe.directory $(pwd)
        echo "version=$(git describe --match '[0-9].[0-9]*' --tag)" >> $GITHUB_OUTPUT

  build_fedora:
    permissions:
      contents: write
    name: Fedora latest
    needs: get_version
    runs-on: ubuntu-latest
    container:
      image: fedora:latest

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit

    - name: Install requirements
      run: |
        dnf update -y
        dnf install -y cmake ninja-build llvm18 llvm18-devel lld18-devel clang18 git file rpm-build dpkg-dev clang18-devel spdlog-devel
        curl -L -O https://github.com/include-what-you-use/include-what-you-use/archive/refs/tags/0.22.zip
        unzip 0.22.zip
        patch -p1 -d include-what-you-use-0.22 <<EOF
        diff --git a/iwyu.cc b/iwyu.cc
        --- a/iwyu.cc
        +++ b/iwyu.cc
        @@ -1889,8 +1889,9 @@ class IwyuBaseAstVisitor : public BaseAstVisitor<Derived> {
               case clang::CK_CPointerToObjCPointerCast:
               case clang::CK_ObjCObjectLValueCast:
               case clang::CK_VectorSplat:
        -        CHECK_UNREACHABLE_(
        -            "TODO(csilvers): for objc and clang lang extensions");
        +        // Disable this unreachable asset to avoid the CI failure
        +        //CHECK_UNREACHABLE_(
        +        //    "TODO(csilvers): for objc and clang lang extensions");
                 break;

               // Kinds for reinterpret_cast and const_cast, which need no full types.
        EOF
        export LLVM_DIR="/usr/lib64/llvm18/lib/cmake"
        export Clang_DIR="/usr/lib64/llvm18/lib/cmake/clang"
        export CC=clang-18
        export CXX=clang++-18
        cmake -Bbuild-iwyu -GNinja -DCMAKE_BUILD_TYPE=Release include-what-you-use-0.22
        cmake --build build-iwyu --target install

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
    - name: Ensure git safe directory
      run: |
        git config --global --add safe.directory $(pwd)

    - name: Build and scan WasmEdge with IWYU
      run: |
        export LLVM_DIR="/usr/lib64/llvm18/lib/cmake"
        export Clang_DIR="/usr/lib64/llvm18/lib/cmake/clang"
        export CC=clang-18
        export CXX=clang++-18
        cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Debug -DWASMEDGE_BUILD_TESTS=ON -DCMAKE_CXX_INCLUDE_WHAT_YOU_USE=include-what-you-use .
        cmake --build build > iwyu_fedora.log

    - name: Dump the result
      if: always()
      run: cat iwyu_fedora.log

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: iwyu_fedora.log
        path: iwyu_fedora.log


  build_macos:
    permissions:
      contents: write
    name: macOS
    runs-on: macos-latest
    needs: get_version

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
    - name: Ensure git safe directory
      run: |
        git config --global --add safe.directory $(pwd)

    - name: Build and scan WasmEdge with IWYU
      shell: bash
      run: |
        brew install llvm@18 ninja cmake
        export LLVM_DIR="$(brew --prefix)/opt/llvm@18/lib/cmake"
        export Clang_DIR="$(brew --prefix)/opt/llvm@18/lib/cmake/clang"
        export IWYU_PREFIX="$(brew --prefix)/opt/iwyu"
        export CC=clang
        export CXX=clang++

        cd ../../
        curl -L -O https://github.com/include-what-you-use/include-what-you-use/archive/refs/tags/0.22.zip
        unzip 0.22.zip
        patch -p1 -d include-what-you-use-0.22 <<EOF
        diff --git a/iwyu.cc b/iwyu.cc
        --- a/iwyu.cc
        +++ b/iwyu.cc
        @@ -3476,6 +3476,12 @@ class InstantiatedTemplateVisitor
             if (ReplayClassMemberUsesFromPrecomputedList(type))
               return true;

        +    // Sometimes, an implicit specialization occurs to be not instantiated.
        +    // TODO(bolshakov): don't report them at all as full uses or figure out
        +    // how to scan them.
        +    if (!class_decl->hasDefinition())
        +      return true;
        +
             // Make sure all the types we report in the recursive TraverseDecl
             // calls, below, end up in the cache for class_decl.
        EOF
        cmake -Bbuild-iwyu -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX="$IWYU_PREFIX" include-what-you-use-0.22
        cmake --build build-iwyu --target install
        cd WasmEdge/WasmEdge

        cmake -Bbuild -GNinja -DWASMEDGE_BUILD_TESTS=ON -DCMAKE_CXX_INCLUDE_WHAT_YOU_USE="xcrun;$IWYU_PREFIX/bin/include-what-you-use" -DWASMEDGE_BUILD_PACKAGE="TGZ" .
        cmake --build build > iwyu_macOS.log

    - name: Dump the result
      if: always()
      run: cat iwyu_macOS.log

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: iwyu_macOS.log
        path: iwyu_macOS.log
