name: Misc linters

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  misc:
    permissions:
      contents: read
      pull-requests: read
    name: misc linters
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Ensure git safe directory
        run: |
          git config --global --add safe.directory $(pwd)
      - name: check spell
        run: |
          python3 -m venv ./venv
          source ./venv/bin/activate
          pip install codespell==2.4.1
          # exclude files which may be synchronized from other places
          git ls-files | grep -v "^thirdparty" | grep -v "/thirdparty/" | grep -v "/dist/" | xargs -t codespell --ignore-words .github/workflows/ignore_words 2>/dev/null
  lineguard:
    name: lineguard
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Ensure git safe directory
        run: |
          git config --global --add safe.directory $(pwd)
      - name: Install lineguard
        run: |
          cargo install lineguard@0.1.7
      - name: Run lineguard
        run: |
          lineguard --config .lineguardrc --verbose -r . || { echo "Lineguard found issues"; exit 1; }
