name: Misc linters

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  misc:
    permissions:
      contents: read
      pull-requests: read
    name: misc linters
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Ensure git safe directory
        run: |
          git config --global --add safe.directory $(pwd)
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: check spell
        run: |
          pip install codespell==2.4.1
          # exclude files which may be synchronized from other places
          git ls-files | grep -v "^thirdparty" | grep -v "/thirdparty/" | grep -v "/dist/" | xargs -t codespell --ignore-words .github/workflows/ignore_words 2>/dev/null
  lineguard:
    name: lineguard
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Ensure git safe directory
        run: |
          git config --global --add safe.directory $(pwd)
      - name: Install lineguard
        run: |
          cargo install lineguard@0.1.5
      - name: Run lineguard
        run: |
          lineguard --config .lineguardrc --verbose -r . || { echo "Lineguard found issues"; exit 1; }
