name: Build extensions on macOS

on:
  workflow_call:
    inputs:
      runner:
        type: string
        required: true
      asset_tag:
        type: string
        required: true
      plugins:
        description: 'JSON array of the plugins'
        type: string
        required: true
      version:
        type: string
        required: true
      release:
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(inputs.plugins) }}
    name: ${{ matrix.plugin }} (${{ inputs.asset_tag }})
    runs-on: ${{ inputs.runner }}
    env:
      bin_name: ${{ matrix.bin }}.dylib
      # Set value to `matrix.target` if `input.release` is `true`, or
      # if `matrix.testBin` is empty
      target: ${{ inputs.release && matrix.target || matrix.testBin || matrix.target }}
      test_dir: build/test/plugins/${{ matrix.dir }}
      output_dir: build/plugins/${{ matrix.dir }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Build and install dependencies
        shell: bash
        run: |
          brew install ninja opencv rust ffmpeg@7
          brew unlink ffmpeg
      - name: Build ${{ matrix.plugin }}
        shell: bash
        run: |
          export PKG_CONFIG_PATH="$(brew --prefix)/opt/ffmpeg@7/lib/pkgconfig:$PKG_CONFIG_PATH"
          export OpenSSL_DIR="$(brew --prefix)/opt/openssl"
          export CC=clang
          export CXX=clang++

          cmake -Bbuild -GNinja \
            -DCMAKE_BUILD_TYPE=Release \
            -DWASMEDGE_BUILD_TESTS=${{ inputs.release && 'OFF' || 'ON' }} \
            -DWASMEDGE_BUILD_TOOLS=OFF \
            -DWASMEDGE_USE_LLVM=OFF \
            -DOPENSSL_ROOT_DIR=${OpenSSL_DIR} \
            ${{ matrix.options }}
          cmake --build build --target ${target}
      - id: var
        run: |
          export prefix="WasmEdge-plugin-${{ matrix.plugin }}"
          export postfix="${{ inputs.version }}-${{ inputs.asset_tag }}"

          echo "artifact=${prefix}-${postfix}.tar.gz" >> $GITHUB_OUTPUT
          echo "artifact_test=${prefix}-no-metal-${postfix}.tar.gz" >> $GITHUB_OUTPUT
          echo "artifacts=${prefix}-*.tar.gz" >> $GITHUB_OUTPUT
      - name: Package ${{ matrix.plugin }}
        shell: bash
        run: |
          cp -f ${output_dir}/${bin_name} ${bin_name}
          if [[ "${{ matrix.plugin }}" == *mlx* ]]; then
            cp -f build/_deps/mlx-build/mlx/backend/metal/kernels/mlx.metallib .
            tar -zcvf ${{ steps.var.outputs.artifact }} \
              ${bin_name} \
              mlx.metallib
          else
            tar -zcvf ${{ steps.var.outputs.artifact }} ${bin_name}
          fi
      - if: ${{ !inputs.release && contains(matrix.plugin, 'stablediffusion') && contains(inputs.asset_tag, 'arm64') }}
        name: Rebuild with METAL=OFF for testing
        run: |
          rm -rf build/

          cmake -Bbuild -GNinja \
            -DCMAKE_BUILD_TYPE=Release \
            -DWASMEDGE_BUILD_TESTS=ON \
            -DWASMEDGE_BUILD_TOOLS=OFF \
            -DWASMEDGE_USE_LLVM=OFF \
            -DWASMEDGE_PLUGIN_STABLEDIFFUSION_METAL=OFF \
            -DOPENSSL_ROOT_DIR=${OpenSSL_DIR} \
            ${{ matrix.options }}
          cmake --build build --target ${target}

          cp -f ${output_dir}/${bin_name} ${bin_name}
          tar -zcvf ${{ steps.var.outputs.artifact_test }} ${bin_name}
      - if: ${{ !inputs.release }}
        name: Test ${{ matrix.plugin }}
        run: |
          if [[ -z "${{ matrix.testBin }}" ]]; then
            echo "No test specified!"
          else
            cd ${test_dir}
            ./${target}
            cd -
          fi
        shell: bash
      - if: ${{ !inputs.release }}
        name: Upload artifact ${{ matrix.plugin }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ steps.var.outputs.artifact }}
          path: ${{ steps.var.outputs.artifacts }}
      - if: ${{ inputs.release }}
        name: Install gh for release
        run: |
          brew install gh
      - if: ${{ inputs.release }}
        name: Upload release ${{ steps.var.outputs.artifact }}
        run: |
          gh release upload ${{ inputs.version }} ${{ steps.var.outputs.artifact }} --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
