name: Clang-Format

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04 # https://github.com/actions/runner-images/issues/10636
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Ensure git safe directory
        run: |
          git config --global --add safe.directory $(pwd)
      - name: Install clang-format-18
        run: |
          sudo apt update
          sudo apt install clang-format-18
      - name: Run clang-format
        run: |
          bash ./.github/scripts/clang-format.sh `which clang-format-18`
