name: Create Source Tarball

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
      release:
        type: boolean

permissions:
  contents: read

jobs:
  create_source_tarball:
    permissions:
      contents: write
    name: Create source tarball
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Ensure git safe directory
        run: |
          git config --global --add safe.directory $(pwd)
      - name: Propagate version information
        run: |
          echo -n $VERSION | tee VERSION
        env:
          VERSION: ${{ inputs.version }}
      - name: Create source tarball
        run: |
          echo "Get version: $VERSION"
          TEMPDIR=$(mktemp -d)
          SRCDIR="$TEMPDIR/wasmedge/"
          mkdir -p "$SRCDIR"
          git checkout-index -a --prefix="$SRCDIR"
          cp -v VERSION $SRCDIR
          tar --owner 0 --group 0 -czf "$GITHUB_WORKSPACE/WasmEdge-$VERSION.tar.gz" -C "$TEMPDIR" "wasmedge"
        env:
          VERSION: ${{ inputs.version }}
      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: WasmEdge-${{ inputs.version }}-src.tar.gz
          path: WasmEdge-${{ inputs.version }}.tar.gz
      - name: Upload source tarball
        if: ${{ inputs.release }} # Only for release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mv WasmEdge-${{ inputs.version }}.tar.gz WasmEdge-${{ inputs.version }}-src.tar.gz
          gh release upload ${{ inputs.version }} WasmEdge-${{ inputs.version }}-src.tar.gz --clobber
