name: Build on Fedora

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
      release:
        type: boolean
      upload_asset_url:
        type: string

permissions:
  contents: read

jobs:
  build_fedora:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Fedora Rawhide
            image: fedora:rawhide
            asset_postfix: fedora-rawhide
          - name: Fedora Latest
            image: fedora:latest
            asset_postfix: fedora
    permissions:
      contents: write
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
      options: --privileged
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Install dependency
        run: |
          dnf update -y
          dnf install -y cmake ninja-build llvm llvm-devel lld-devel clang git file rpm-build dpkg-dev spdlog-devel \
            pkgconf-pkg-config protobuf-c-compiler grpc-cpp grpc-plugins grpc-devel
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Grant the safe directory for git
        run: |
          git config --global --add safe.directory $(pwd)
      - name: Build WasmEdge
        run: |
          cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Release -DWASMEDGE_BUILD_TESTS=ON -DWASMEDGE_BUILD_PACKAGE="TGZ;DEB;RPM" .
          cmake --build build
      - name: Test WasmEdge
        run: |
          export LD_LIBRARY_PATH="$(pwd)/build/lib/api:$LD_LIBRARY_PATH"
          cd build
          ./tools/wasmedge/wasmedge -v
          ctest
          cd -
      - name: Create package tarball
        run: |
          cmake --build build --target package
      - name: Upload artifact
        if: ${{ !inputs.release }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: WasmEdge-${{ inputs.version }}-${{ matrix.asset_postfix }}.tar.gz
          path: build/WasmEdge-${{ inputs.version }}-Linux.tar.gz
