name: Create Source Tarball

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
      release:
        type: boolean

permissions:
  contents: read

jobs:
  create_source_tarball:
    permissions:
      contents: write
    name: Create source tarball
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Ensure git safe directory
        run: |
          git config --global --add safe.directory $(pwd)
      - name: Propagate version information
        run: |
          echo -n $VERSION | tee VERSION
        env:
          VERSION: ${{ inputs.version }}
      - name: Create source tarball
        run: |
          echo "Get version: $VERSION"
          TEMPDIR=$(mktemp -d)
          SRCDIR="$TEMPDIR/wasmedge/"
          mkdir -p "$SRCDIR"
          git checkout-index -a --prefix="$SRCDIR"
          cp -v VERSION $SRCDIR
          tar --owner 0 --group 0 -czf "$GITHUB_WORKSPACE/WasmEdge-$VERSION.tar.gz" -C "$TEMPDIR" "wasmedge"
        env:
          VERSION: ${{ inputs.version }}
      - name: Upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: WasmEdge-${{ inputs.version }}-src.tar.gz
          path: WasmEdge-${{ inputs.version }}.tar.gz
      - name: Upload source tarball
        if: ${{ inputs.release }} # Only for release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mv WasmEdge-${{ inputs.version }}.tar.gz WasmEdge-${{ inputs.version }}-src.tar.gz
          gh release upload ${{ inputs.version }} WasmEdge-${{ inputs.version }}-src.tar.gz --clobber
