name: wasmedge-types-release

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  push:
    tags:
      - "rust-types/[0-9]+.[0-9]+.[0-9]+*"

jobs:
  crate_release:
    name: Create Release
    runs-on: ubuntu-latest
    container:
      image: wasmedge/wasmedge:ubuntu-build-clang

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Stable Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Publish wasmedge-types crate
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        shell: bash
        run: |
          cd ./bindings/rust/wasmedge-types
          git config --global user.email "runner@gha.local"
          git config --global user.name "Github Action"
          cargo publish --dry-run
          cargo publish
