name: Submit WasmEdge MSI package to the Windows Package Manager Community Repository

on:
  workflow_dispatch:
  release:
    types: [released]

permissions:
  contents: read

jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Submit WasmEdge MSI package with Winget-Releaser
        uses: vedantmgoyal9/winget-releaser@19e706d4c9121098010096f9c495a70a7518b30f # main
        with:
          identifier: WasmEdge.WasmEdge
          installers-regex: 'windows\.msi$'
          token: ${{ secrets.GITHUB_TOKEN }}
